.page-header
    h1 
        span#status Connecting to 
            span#broker=broker
       
.row
.span16.columns
    p As messages are received links to the topics in use will appear below:
    ul#topics

script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
script(src="/socket.io/socket.io.js")
script(src="js/script.js")